/* Stijl het navigatiemenu */
nav {
 background-color: #333; /* Achtergrondkleur */
 padding: 10px; /* Ruimte rondom het menu */
}
/* Stijl de lijst in het menu */
ul {
 list-style-type: none; /* Verwijder de standaard lijststijl */
 padding: 100;
}
/* Stijl de menu-items (lijstitems) */
li {
 display: inline; /* Plaats de menu-items naast elkaar */
